# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# The original folder for storing kiosk configuration files (this is going to be phased out soon).
Kiosks/

# PyInstaller .spec file(s)
*.spec

