# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# The folder for storing kiosk configuration files (this name is no longer mandated by KioskForge.py).
Setup/

# PyInstaller .exe and .spec file(s)
KioskForge.exe
*.spec

